@model ReservationSystemDraft_v1.Areas.Admin.Models.Sitting.Create

@{
    ViewData["Title"] = "New Sitting";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/js/admin.sitting.newsitting.js"></script>
}

<div class="row mb-5">
    <div class="col">
        <h1>Schedule New Sitting</h1>
    </div>
</div>

<form asp-action="NewSitting" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-row">
        <div class="col form-group">
            <label asp-for="StartTime"></label>
            <input class="form-control w-50" asp-for="StartTime" />
            <span class="text-danger" asp-validation-for="StartTime"></span>
        </div>
        <div class="col form-group">
            <label asp-for="EndTime"></label>
            <input class="form-control" asp-for="EndTime" />
            <span class="text-danger" asp-validation-for="EndTime"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md form-group">
            <label asp-for="Increment"></label>
            <input class="form-control" asp-for="Increment" />
            <span class="text-danger" asp-validation-for="Increment"></span>
        </div>
        <div class="col-md form-group">
            <label asp-for="DefaultReservationDuration"></label>
            <input class="form-control" asp-for="DefaultReservationDuration" />
            <span class="text-danger" asp-validation-for="DefaultReservationDuration"></span>
        </div>
        <div class="col-md form-group">
            <label asp-for="Capacity"></label>
            <input class="form-control" asp-for="Capacity" />
            <span class="text-danger" asp-validation-for="Capacity"></span>
        </div>
    </div>
    <div class="form-row align-items-end">
        <div class="col form-group" id="selectSittingType" hidden="@(!string.IsNullOrEmpty(Model.NewSittingType))">
            <label asp-for="SittingTypeId"></label>
            <select class="form-control" asp-for="SittingTypeId" asp-items="@Model.SittingTypes">
                <option value="@null">Select Sitting Type</option>
            </select>
        </div>
        <div class="col form-group" id="newSittingType" hidden="@(string.IsNullOrEmpty(Model.NewSittingType))">
            <label asp-for="NewSittingType"></label>
            <input class="form-control" asp-for="NewSittingType" />
            <span class="text-danger" asp-validation-for="NewSittingType"></span>
        </div>
        <div class="col form-group">
            <button type="button" class="btn btn-primary" onclick="toggleNewSittingType(event)" value="@(string.IsNullOrEmpty(Model.NewSittingType) ? "0" : "1")">@(string.IsNullOrEmpty(Model.NewSittingType) ? "New Sitting Type" : "Choose Existing Type")</button>
        </div>
    </div>
    <div class="custom-control custom-checkbox my-3">
        <input class="custom-control-input" asp-for="OneOffSitting" type="checkbox" onchange="toggleOneOffSitting(event)" />
        <label class="custom-control-label" asp-for="OneOffSitting"></label>
    </div>
    <div class="form-row my-3">
        <div class="col form-group">
            <label asp-for="StartDate" id="startDateLabel"></label>
            <input class="form-control" asp-for="StartDate" />
            <span class="text-danger" asp-validation-for="StartDate"></span>
        </div>
        <div class="col form-group">
            <label asp-for="EndDate"></label>
            <input class="form-control" asp-for="EndDate" disabled="@Model.OneOffSitting" />
            <span class="text-danger" asp-validation-for="EndDate"></span>
        </div>
    </div>
    <div id="scheduleInputs" class="row">
        <div class="col">
            <label asp-for="DaysOfWeek" class="mr-3"></label>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input class="custom-control-input day-of-week" type="checkbox" asp-for="DaysOfWeek[1]" disabled="@Model.OneOffSitting" />
                <label class="custom-control-label" asp-for="DaysOfWeek[1]">Monday</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input class="custom-control-input day-of-week" type="checkbox" asp-for="DaysOfWeek[2]" disabled="@Model.OneOffSitting" />
                <label class="custom-control-label" asp-for="DaysOfWeek[2]">Tuesday</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input class="custom-control-input day-of-week" type="checkbox" asp-for="DaysOfWeek[3]" disabled="@Model.OneOffSitting" />
                <label class="custom-control-label" asp-for="DaysOfWeek[3]">Wednesday</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input class="custom-control-input day-of-week" type="checkbox" asp-for="DaysOfWeek[4]" disabled="@Model.OneOffSitting" />
                <label class="custom-control-label" asp-for="DaysOfWeek[4]">Thursday</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input class="custom-control-input day-of-week" type="checkbox" asp-for="DaysOfWeek[5]" disabled="@Model.OneOffSitting" />
                <label class="custom-control-label" asp-for="DaysOfWeek[5]">Friday</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input class="custom-control-input day-of-week" type="checkbox" asp-for="DaysOfWeek[6]" disabled="@Model.OneOffSitting" />
                <label class="custom-control-label" asp-for="DaysOfWeek[6]">Saturday</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
                <input class="custom-control-input day-of-week" type="checkbox" asp-for="DaysOfWeek[0]" disabled="@Model.OneOffSitting" />
                <label class="custom-control-label" asp-for="DaysOfWeek[0]">Sunday</label>
            </div>
        </div>
    </div>
    <div class="my-3 form-group">
        <label asp-for="Name" id="nameLabel">Schedule Name</label>
        <input class="form-control" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="my-3 custom-control custom-checkbox">
        <input class="custom-control-input" asp-for="IsClosedForBooking" type="checkbox" />
        <label class="custom-control-label" asp-for="IsClosedForBooking"></label>
    </div>
    <div class="row">
        <div class="col-4 col-md-1">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        <div class="col-4 col-md-1">
            <a class="btn btn-secondary" asp-action="Index">Back</a>
        </div>
    </div>
    <input type="hidden" asp-for="RestaurantId" />
</form>

