@model IReadOnlyCollection<Restaurant>


<div class="mb-4"
     style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.3) 100%), url('@Url.Content("~/Resources/Restaurant-Booking-Service-header.jpg")');
                background-size: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 357px;
                z-index: -1;
    ">
</div>
<div class="container mb-4" style="height: 300px">
    <div class="row h-100 align-items-center">
        <div class="col">
            <h1 class="font-weight-bolder text-light text-center mb-4 mt-0">Pick the time, we'll hold your place</h1>
        </div>
    </div>
</div>



    <h3>Choose a restaurant</h3>
    <h6>@Model.Count Restaurants</h6>


    <hr />

    <div class="row justify-content-center">
        <div class="col">
            @foreach (var item in Model)
            {
                <div class="card mb-3 box-shadow overflow-hidden">
                    <div class="row w-100">
                        <div class="col-md-3">
                            @if (!item.Photos.Any())
                            {
                                <img class="card-img-left" src="@Url.Content("Uploads/Default/2ec96de6-a3e0-4d17-aec1-208e6c03cfd3.png")" alt="Restaurant image">
                            }
                            else
                            {
                                <img class="card-img-left"
                                     src="@item.Photos.First().FileName"
                                     alt="Restaurant image"
                                     style="max-height: 250px; object-fit: cover">
                            }
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text mb-2"><small class="text-muted">@item.Address</small></p>
                                <p class="card-text mb-2"><small class="text-muted">@item.Email</small></p>
                                <p class="card-text mb-2"><small class="text-muted">@item.Phone</small></p>
                                <a class="btn btn-primary" asp-controller="Reservation" asp-action="SelectDateTime" asp-route-restaurantId="@item.Id">Make a reservation</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>













